#homeLink {
    position: relative;
    left: 10%;
    bottom: 10px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#homeLink:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

#homeSignup {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    padding-right: 20px;
    left: 81%;
}

#homeLogin {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    left: 75%;
}

#homeLogin:hover,
#homeSignup:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

.loginSignup {
    position: relative;
    bottom: 45px;
    left: 79%;
}

#musicIcon {
    position: relative;
    top: 20px;
    height: 70px;
    width: 90px;
}

.profileButton {
    position: relative;
    left: 85%;
    bottom: 30px;
}

.profile-dropdown {
    position: relative;
    bottom: 50px;
    list-style-type: none;
}

#profileUsername {
    color: white;
    font-size: 20px;
}

#profileEmail {
    color: white;
    font-size: 20px;
}
